*
{
    margin:0 auto;
    padding:0;
}
div{
    width:1200px;
    height: 600px;
    border:1px solid red;
    margin-top:20px;
}

.first
{
    /* background-color: tomato; */
    /* background-color: #9f93ef; */
    /* background-color: rgb(200,150,20); */
    background-color: rgb(10%,50%,60%);
}

.second
{
    /* background:linear-gradient(red,orange,green); */
    /* background:linear-gradient(red 50%,orange,green); */
    /* background:-webkit-linear-gradient(left,red,orange,green);
    background:-moz-linear-gradient(left,red,orange,green);
    background:-o-linear-gradient(left,red,orange,green);
    background:-ms-linear-gradient(left,red,orange,green); */
    /* background:-webkit-linear-gradient(100deg,red,orange,green); */
    background:-webkit-radial-gradient(top right,red,orange,green);
}
.third
{
    background-image:url("./back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 100% 100%; */
    background-size: cover;

}
.third>h1{
    text-align: center;
    font-size: 80px;
}


.fourth
{
    background: orange url("./back.jpg");
    background-repeat: no-repeat;
    background-size: 50% 100%;


}
.fourth>h1{
    text-align: center;
    font-size: 80px;
    color:red;
}

/*---------------------------------------------------------------------old*/

.fifth
{
    background-position: right center;
}
.fifth>h1{
    font-size: 50px;
    color:white;
   
    width: 80%;
    margin-top:50px;
    padding:50px;
     /* background-color: teal;
    opacity:0.5; */
    background-color: rgba(50,70,60,0.2);
    /* box-shadow:2px 5px 10px black; */
     /* box-shadow:inset 10px 0px 50px black; */
     box-shadow: 0px 0px 10px 10px lightgray,0px 0px 10px 20px gray,0px 0px 0px 30px black;
    text-shadow:2px 5px 5px black;

    }

.sixth
{
    padding:20px;
    box-sizing: border-box;
    text-align: justify;
    columns:6;
    height: fit-content;
    column-gap: 30px;
    column-rule: 2px dotted black;
}
.sixth>h1{
    column-span: all;
}
.sixth img
{
    width: 100%;
}