/* *
{
    margin:0 auto;
    padding:0;
} */

.row
{
    width:1200px;
    max-height: fit-content;
    border:1px solid red;
    display: grid;
    margin:0 auto;
    padding:0;
    grid-template-columns: 100px 400px 300px 400px;
    grid-template-rows: 150px 250px 50px 200px 200px auto;
    


}
.row section
{
    background-color: rgb(184, 199, 213);
    /* border:1px solid red; */
    margin:5px;
}
.row section:nth-child(1)
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
}

.row section:nth-child(2)
{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.row section:nth-child(3)
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.row section:nth-child(5)
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.row section:nth-child(6)
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.row section:nth-child(7)
{
    grid-column-start: 3;
    grid-column-end: 5;

}
.row section:nth-child(8)
{
    grid-column-start: 1;
    grid-column-end: 5;

}

.list
{
    list-style-type: none;
    margin:0 auto;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
}
.list li
{
    width: 80px;
    height: 80px;
    background-color: blueviolet;
    border-radius: 50%;

}

.page
{
    width:1200px;
    height: 300px;
    background-image: url("https://wallpapers.com/images/hd/1920-x-1080-hd-1qq8r4pnn8cmcew4.jpg");
    background-size: cover;
    margin:0 auto;
    padding:0;
    /* clip-path: polygon(100% 0, 100% 54%, 45% 100%, 0 55%, 0 0); */
    clip-path: polygon(0% 0%,100% 0%, 100% 60%,50% 100%, 0% 60%);
}

.second
{
    clip-path: polygon(0% 0%,50% 40%,100% 0%, 100% 60%,50% 100%, 0% 60%);
    margin-top:-80px;
}
