*
{
    margin:0 auto;
    padding:0;
}
.page
{
    min-height: 800px;
    max-height: fit-content;
    /* border:1px solid red; */
    width:100%;
}
.row
{
    width:100%;
    min-height: 50px;
    max-height: fit-content;
    /* border:1px solid blue; */
    display: flex;
}
.row>section
{
    /* border:1px solid orange; */
    padding:10px;
    flex:1;
}
.row>section>img
{
    width:100%;
}
.logo
{
    width:100px !important;
}
ul{
    list-style-type: none;
    display: flex;
    width: 70%;
}
.tcenter
{
    text-align: center;
}
.tfor
{
    color:orange;
}

.second
{
    flex:1.5 !important;
}