*
{
    margin:0 auto;
    padding:0;
}

.mynav
{
    width:100%;
    height: 60px;
    background:linear-gradient(orange,red);
    color:white;
    display: flex;
}
.mynav div
{
    /* border:1px solid red; */
    /* padding:5px; */
    flex:1;
}
.menu
{
    flex:2 !important;
}
.menu a
{
    color:white;
    padding:10px;
    background:linear-gradient(orange,red);
    float:left;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
     height: 60px;
}
.menu ul
{
    list-style-type: none;
    display: flex;
   
}
.menu li
{
    /* border:1px solid red; */
    flex:1;
    text-align: center;
}

.menu a:hover
{
    background:linear-gradient(blue,orange);
}
