*
{
    margin:0 auto;
    padding:0;
}
.mega
{
    width:100%;
    height: 60px;
    background-color: rgb(39, 12, 12);
    color:white;
    position: fixed;
    display: flex;
    z-index: 99;
}
.sidebar
{
    width:60px;
    height:100vh;
    background-color: orange;
    float:left;
    position: fixed;
    /* padding:10px; */
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 300ms;
}
.page
{
    width:94.8%;
    height: 100vh;
    background-color: antiquewhite;
    float:right;
    transition-duration: 300ms;
}
.sidebar,.page
{
    margin-top:60px;
}
.sidebar ul
{
    list-style-type: none;
    width:200px;
}
.sidebar li
{
    /* background-color: orangered; */
    height: 40px;
    padding:5px 0 5px 15px;
    margin-top:2px;
    line-height: 40px;
}
.sidebar i
{
    font-size: 25px;
    color:white;
    margin-right: 25px;
    transition-duration: 300ms;
}
.sidebar a
{
    color:white;
    text-decoration: none;
}

.sidebar:hover
{
    width:200px;
    transition-duration: 300ms;
}
.sidebar:hover + .page
{
    width:83.5%;
    transition-duration: 300ms;
}
.sidebar:hover i
{
    font-size: 20px;
    margin-right: 10px;
    transition-duration: 300ms;
}
.sidebar li:hover
{
    background-color: aqua;
}
/*------------------------------end of sidebar----------------------*/

.mega section
{
    flex:1;
    border:1px solid red;
}
.mega ul
{
    list-style-type: none;
    display: flex;
    height: 60px;
    align-items: center;
    position: relative;
}
.mega ul li
{
    flex:1;
    text-align: center;
    position: relative;
    /* border:1px solid red; */
}
.mega a
{
    color:white;
    text-decoration: none;
    background-color: tomato;
   padding:10px;
}
.mega div
{
    width:100%;
    height: 300px;
    background-color: blueviolet;
    position: fixed;
    left:0px;
    top:60px;
    display: none;
}
.mega li:hover div
{
    display: block;
}



.clipath
{
    width:1000px;
    height: 300px;
    background-color: rgb(5, 41, 29);
    margin-top:20px;
    clip-path: polygon(0px 0px,1000px 0px,1000px 200px,500px 300px,0px 200px);
    /* clip-path: polygon(20% 1%, 72% 0, 91% 15%, 100% 44%, 0 43%, 6% 17%); */
}
.nested
{
    width:1000px;
    height: 500px;
    border:1px solid red;
}
.nested section
{
    height: 500px;
    width: 100%;
    margin-top:5px;
    background-size: 100% 100%;
    background-attachment: fixed;
    color:white;
    font-size: 20px;
    padding:50px;
    box-sizing: border-box;
}
.nested section:nth-child(1)
{
    background-image: url("https://plus.unsplash.com/premium_photo-1686729237226-0f2edb1e8970?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbHBhcGVyfGVufDB8fDB8fHww");
}
.nested section:nth-child(2)
{
    background-image: url("https://m.media-amazon.com/images/I/71Xu66Nem-L.jpg");
}
.nested section:nth-child(3)
{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREqRp5pzb59rEoOn3Z53TmEPbqzHvqf3wj5g&s");
}

.nested section:nth-child(4)
{
    background-image: url("https://wallpapers.com/images/featured/beautiful-3vau5vtfa3qn7k8v.jpg");
}

.nested section:nth-child(5)
{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/049/855/471/small/nature-background-high-resolution-wallpaper-for-a-serene-and-stunning-view-free-photo.jpg");
}

.nested nav
{
    width:100%;
    height: 50px;
    background-color: rgb(2, 50, 50);
    color:white;
    position: sticky;
    top:60px;
    z-index: 999;
}

html
{
    scroll-behavior: smooth;
    user-select: none;
}

.manpage
{
    background:linear-gradient(rgb(149, 149, 232),rgb(73, 73, 245));
}