*
{
    margin:0 auto;
    padding:0;
}

ul
{
    list-style-type: none;
}

ul li
{
    width:150px;
    height: 50px;
    border:1px solid red;
    text-align: center;
    line-height: 50px;
    float:left;
}
ul li a
{
    background:linear-gradient(orange,rgb(244, 201, 122));
    height: 50px;
    width: 100%;
    float:left;
    text-decoration: none;
}
ul a:hover
{
     background:linear-gradient(rgb(255, 248, 34),rgb(244, 201, 122));
}
ul li ul li ul
{
    margin-left:150px;
}

ul li ul
{
    display: none;
}
ul li:hover ul
{
    display: block;
}
ul li:hover ul li ul
{
    display: none;
}
ul li ul li:hover ul
{
    display: block;
}
