*
{
    margin:0 auto;
    padding:0;
}
ul
{
    list-style-type: none;
    width: 300px;
    background-color: aquamarine;
    padding:20px;
    
}
input
{
    border:none;
}

ul input[type="text"],input[type="date"],input[type="email"],input[type="tel"]
{
    padding:5px;
    margin-top:5px;
    width: 100%;
    box-sizing: border-box;

}
/* input:required
{
    border:1px solid red;
}

input:valid
{
    background-color: rgb(161, 253, 161);
    color:green;
    border:2px solid rgb(1, 66, 1);
}

input:invalid
{
    background-color: rgb(253, 161, 161);
    color:rgb(128, 0, 0);
    border:2px solid rgb(66, 1, 1);
} */

input:focus-visible
{
    outline: none;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ff0000;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
