
@media (max-width:1200px)
{
    body
    {
        background-color: aquamarine;
    }
    .row
    {
        width: 100%;
    }
    .row div
    {
        background:linear-gradient(rgb(249, 223, 173),rgb(245, 198, 111));
    }
}


@media (max-width:900px)
{
    body
    {
        background-color: rgb(130, 103, 255);
    }
    .hd
    {
        display: none;
    }
    .row h2{
        text-transform: capitalize;
        text-align: left;
        font-weight: bolder;
        background-color: red;
    }

}





@media (max-width:500px)
{
    body
    {
        background-color: rgb(19, 19, 18);
    }
    .row{
        flex-direction: column;
        border:none;
    }
    .row div
    {
        margin-top:10px;
        border:none;
        margin:10px;
        text-align: center;
        padding:10px;
        border-radius: 10px;
    }
    .row h2
    {
        text-transform: uppercase;
        background-color: transparent;
    }
    .hd
    {
        display: block;
    }

}