*
{
    margin:0 auto;
    padding:0;
}
.row
{
    width:1200px;
    height: 300px;
    border:1px solid red;
    display: flex;
}
.row div
{
    flex:1;
    border:1px solid orange;
    background-color: aquamarine;
    margin:0px 2px;
    
}
.row img
{
    width: 100%;
}