*
{
    margin:0 auto;
    padding:0;
}
.row
{
    width:1200px;
    height: 300px;
    border:1px solid red;
    display: flex;
}
.row div
{
    flex:1;
    border:1px solid orange;
    background-color: aquamarine;
    margin:0px 2px;
    
}
.row img
{
    width: 100%;
}
.onlyprint
{
    display: none;
}

header,footer
{
    background-color: black;
    color:white;
    text-align: center;
    height: 50px;
    width: 100%;
    display: none;
}
h3{
    font-size: 70px;
    text-align: center;
    font-family: arial black;
    text-transform: uppercase;
    display: none;
}