*
{
    margin:0 auto;
    padding:0;
}
.page
{
    width:500px;
    height: 500px;
    border:1px solid red;
    border-radius: 50%;
    margin-top:50px;
    box-shadow: 0px 0px 0px 5px gray,0px 0px 0px 10px black;
}
#second
{
    width:10px;
    height: 220px;
    background-color: red;
    margin-top:30px;
    transform-origin: bottom;
}
#second::before
{
    content: "";
    width:10px;
    height: 100px;
    background-color: rgb(104, 160, 0);
    position: absolute;
    margin-top:220px;
}
